
* {
   padding: 0;
   margin: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}


body{
   background-image:url(../sean-oulashin-KMn4VEeEPR8-unsplash.jpg);
   background-size: 100%;
font-family: "Alegreya", sans-serif ;
font-weight:400;
}
h1{
font-family: "Alegreya", serif;
font-weight: 700;
 }
 p{font-size: 2.1875rem;}